.main-container {
  display: flex;
}

.login-container {
  height: 100%;
  width: 30%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-banner {
  height: 100%;
  overflow: hidden;
  width: 70%;
}

.login-banner img {
  object-fit: inherit;
  width: 100%;
  height: 100%;
}

.login-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
}

#nav-bnt {
  border: 0px;
  background: white;
  color: #0082CD;
  margin-top: 10px;
  cursor: pointer;
}

input {
  margin-bottom: 5px;
}

.login-button{
  border: 1px solid #0082CD;
  background-color: #0082CD;
  color: #FFF;
}