.projectsReegistration-main-container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0px 0px 5px;
}

.projectRegistration-documents {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  border: solid 2px #e1e1e1;
  padding: 10px;
}

.projectRegistration-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.f4 {
  grid-column: 1 / 4;
}

.element {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.select-box {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

.select-box .selected-options {
  font-weight: bold;
}

.select-box ul {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0;
}

.select-box.open ul {
  display: block;
}
