.main-containerlisting {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.listing {
  height: 100%;
  width: 100%;
}
.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 100%;
}
.search-input {
  height: 25px;
  width: 50vw;
  margin-bottom: 0;
}
.clear-btn {
  height: 25px;
  width: 10vw;
  border: 1px solid #0063B8;
  background-color: white;
  color: #0063B8;
}
.search-btn {
  height: 25px;
  width: 20vw;
  border: 1px solid #0063B8;
  background-color: #0063B8;
  color: white;
}
.horizontal-row {
  height: 5px;
  width: 100%;
  background-color: #e1e1e1;
}
.show-projects span {
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.show-projects table {
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  margin-left: 15px;
}
.show-projects table td {
  border-right: 1px solid #e1e1e1;
}
.show-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.description {
  width: 45%;
}
.students {
  width: 90%;
  display: flex;
  overflow: hidden;
}
.students-name {
  margin-left: 10px;
}
.name {
  width: 20%;
}
.date {
  width: 10%;
}
.coordinator {
  width: 10%;
}
.table-head {
  font-size: 16px;
  padding-left: 10px;
}
.description,
.students,
.date,
.coordinator {
  padding-left: 10px;
}
.project-listing-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.project-lisiting-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project-icon {
  margin-left: 15px;
}
.show-paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.show-paging i {
  font-size: 1.4rem;
  color: lightblue;
  margin-left: 15px;
}
.showPage {
  border: 1px solid #ccc;
  height: 40px;
  width: 40px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.go-to-start {
  transform: rotate(90deg);
  margin-top: -15px;
}
.go-to-end {
  transform: rotate(270deg);
  margin-top: 10px;
  margin-left: 10px;
}
.change-view {
  transform: rotate(90deg);
  margin-top: -15px;
  margin-left: 10px;
  margin-right: 10px;
}
.select-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}
.select-buttons select {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-buttons span {
  font-size: 14px;
  color: #6e6e6e;
  margin-left: 5px;
}
.select-buttons {
  margin-top: -0.5%;
}


.name, .description, .date, .coordinator, .students{
  cursor: pointer;
}