<div ng-controller="projectListingController" class="main-container">
    <div class="listing">
        <div class="search">
            <input type="search" ng-model="search" placeholder="Search for Project" class="search-input">
            <button class="clear-btn">Clear</button>
            <button class="search-btn">Search</button>
        </div>
        <div class="horizontal-row"></div>
        <div class="show-projects">
            <span> Projects({{projects.length}}):</span>
            <div ng-repeat="project in projects">
                <table>
                    <tr>
                        <td class="name"><input type="checkbox" name="project.name" id="project.id">{{project.name}}</td>
                        <td class="description">{{project.description | limitarTamanho: 100}}</td>
                        <td class="date">{{project.date | date:'MM/dd/yy'}}</td>
                        <td class="coordinator">{{project.coordinator}}</td>
                        <td class="students">
                            <div ng-repeat="student in project.students" class="students-name">
                                {{student.name}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>  
</div>
