<div ng-controller="projectListingController" class="main-containerlisting">
    <div class="listing">
        <div class="search">
            <input type="search" ng-model="search" placeholder="Search for Project" class="search-input">
            <button class="clear-btn">Clear</button>
            <button class="search-btn">Search</button>
        </div>
        <div class="horizontal-row"></div>
        <div class="show-projects">
            <div class="project-listing-buttons">
                <span> Projects({{projects.length}}):</span>
                <div class="project-lisiting-icons">
                    <i class="dds__icon dds__icon--download project-icon"></i>
                    <i class="dds__icon dds__icon--trash project-icon"></i>
                    <i class="dds__icon dds__icon--compare project-icon" style="transform: rotate(180deg);"></i>
                </div>
            </div>
                <table>
                    <tr>
                        <td class=""><input type="checkbox" name="projects " id="all-projects"><span>Name of Projects</span></td>
                        <td class="table-head">Description</td>
                        <td class="table-head">Date</td>
                        <td class="table-head">Coordinator</td>
                        <td class="table-head">Students</td>
                    </tr>
                    <tr ng-repeat="project in paginateProjects">
                        <td class="name"><input type="checkbox" name="project.name" id="project.id"><span>{{project.name}}</span></td>
                        <td class="description">{{project.description | limitarTamanho: 100}}</td>
                        <td class="date">{{project.date | date:'MM/dd/yy'}}</td>
                        <td class="coordinator">{{project.coordinator}}</td>
                        <td class="students">
                            <div ng-repeat="student in project.students" class="students-name">
                                <div ng-style="{backgroundColor: student.color1, 'border': student.color2}">
                                    {{student.name}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
        </div>
        <div class="buttons">
            <select ng-Model="selectedPage" ng-options="page for page in pages">
                {{pages}}
            </select>
            <div class="show-paging">
                <i class="dds__icon dds__icon--collapse-down"></i>
                <i class="dds__icon dds__icon--arrow-tri-left" ng-click="previousPage()"></i>
                <div class="showPage" ng-model="currentPage">
                    {{currentPage}}
                </div>
                <i class="dds__icon dds__icon--arrow-tri-right" ng-click="nextPage()"></i>
                <i class="dds__icon dds__icon--collapse-down"></i>
            </div>
        </div>
    </div>  
</div>
