.project-listing{
    height: 30vh;
    width: 50vh;
    border: 1px solid #ccc;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    cursor: pointer;
}
.text{
    font-weight: 600;
}
.icon i{
    font-size: 3rem;
    color: #686868;
}