.project-view-container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  height: 85px;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.content {
  width: 100%;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: row;
}

.document {
  width: 60%;
  height: 100%;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.info {
  width: 40%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid;
}

.footer {
  padding-top: 20px;
  height: 40px;
}

.students {
  width: 90%;
  display: flex;
  overflow: hidden;
}
.students-name {
  margin-left: 10px;
}

.bnt {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: blue;
}

.bnt i {
  font-size: 1.2rem;
}
