.app-container {
  margin: 0px;
}
.app-container-main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-areas:
    "header  header"
    "sidebar content";
}

.app-container-header {
  grid-area: header;
}

.app-container-sidenav-content {
  grid-area: sidebar;
}

.app-container-screens-content {
  grid-area: content;
  background: #e1e1e1;
  overflow: hidden;
  padding: 40px 20px;
}

.main-container {
  width: 100%;
  height: 100%;
  background: white;
}

.bnt-primary {
  background: #0672cb;
  border-color: #0672cb;
  color: white;
  cursor: pointer;
}

.bnt-secondary {
  background: white;
  border-color: #0672cb;
  color: #0672cb;
  cursor: pointer;
}

.general-content{
  height: 100%;
  width: 100%;
}